.frame {
  background-color: #010101;
  overflow: hidden;
  width: 100%;
  min-width: 1726.62px;
  min-height: 900px;
  position: relative;
}

.frame .text-wrapper {
  position: absolute;
  top: 64px;
  left: 142px;
  width: 498px;
  font-family: "Source Serif 4-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .rectangle {
  position: absolute;
  top: 0;
  left: 5px;
  width: 1722px;
  height: 140px;
  background-color: #000000;
  backdrop-filter: blur(2px) brightness(100%);
  -webkit-backdrop-filter: blur(2px) brightness(100%);
}

.frame .group {
  position: absolute;
  top: 69px;
  left: 911px;
  width: 710px;
  height: 51px;
  display: flex;
}

.frame .div {
  width: 144px;
  height: 20.83px;
  font-family: "Source Serif 4-Medium", Helvetica;
  font-weight: 500;
  color: #fffefe;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-2 {
  margin-top: 1px;
  width: 138px;
  height: 50px;
  margin-left: 20px;
  font-family: "Source Serif 4-Medium", Helvetica;
  font-weight: 500;
  color: #fffefe;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-3 {
  margin-top: 1px;
  width: 140px;
  height: 50px;
  margin-left: 72px;
  font-family: "Source Serif 4-Medium", Helvetica;
  font-weight: 500;
  color: #fffefe;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-4 {
  margin-top: 1px;
  width: 116px;
  height: 36.11px;
  margin-left: 72px;
  font-family: "Source Serif 4-Medium", Helvetica;
  font-weight: 500;
  color: #fffbfb;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-5 {
  position: absolute;
  top: 48px;
  left: 180px;
  width: 498px;
  font-family: "Source Serif 4-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .COLLECTION-VEDETTE {
  position: absolute;
  top: 337px;
  left: 1055px;
  width: 558px;
  font-family: "Source Serif 4-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .imagehomme {
  position: absolute;
  top: 244px;
  left: 142px;
  width: 193px;
  height: 266px;
  aspect-ratio: 0.73;
  object-fit: cover;
}

.frame .imagehommerouge {
  position: absolute;
  top: 512px;
  left: 142px;
  width: 283px;
  height: 271px;
  aspect-ratio: 1.04;
  object-fit: cover;
}

.frame .imagejaune {
  position: absolute;
  top: 244px;
  left: 504px;
  width: 390px;
  height: 284px;
  aspect-ratio: 1.37;
  object-fit: cover;
}

.frame .paysage {
  position: absolute;
  top: 244px;
  left: 333px;
  width: 171px;
  height: 266px;
  aspect-ratio: 0.64;
  object-fit: cover;
}

.frame .bleu {
  position: absolute;
  top: 512px;
  left: 425px;
  width: 468px;
  height: 271px;
  aspect-ratio: 1.73;
  object-fit: cover;
}

.frame .LOGO {
  position: absolute;
  top: 0;
  left: 0;
  width: 173px;
  height: 166px;
  aspect-ratio: 1;
  object-fit: cover;
}
